@import './colors.sass'

.actionButton
  width: 14vw
  height: 14vw
  background-color: $brandGold
  position: fixed
  bottom: 20px
  border-radius: 100%
  display: flex
  justify-content: center
  transition: right 1s
  box-shadow: 3px 4px 11px 0px rgba(0,0,0,0.75)

.hiddenTrue
  right: -100px
.hiddenFalse
  right: 20px
