.App
  background-image: url('../imgs/wood-bg.png')
  height: 1000px
  // @include parallax(.1)
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
