@import './queries'

.App
  background-image: url('../imgs/wood-bg.png')
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: auto

footer
  height: 6vh
  background-color: #000000e0

// TABLET
@media #{$tablet}
  .App
    background-image: url('../imgs/wood-bg-med.png')

// DESKTOP
@media #{$desktop}
  .App
    background-image: url('../imgs/wood-bg-large.png')
