@import './queries'

.App
  background-image: url('../imgs/wood-bg.png')
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: auto

footer
  height: 10vh
  background-color: #000000e0
  display: flex
  align-items: center
  justify-content: left
  div.hoc
    margin-right: 10vw

.contactMe
  font-size: 4vw
  font-style: italic
  margin-right: 10vw
  color: white
  text-align: right

.footerLogoNoAnimate
  height: 10vh
  width: auto
  margin-right: 10vw

// TABLET
@media #{$tablet}
  .App
    background-image: url('../imgs/wood-bg-med.png')
  .contactMe
    font-size: 2.6vw
  .footerLogoNoAnimate
    margin-right: 30vw


// DESKTOP
@media #{$desktop}
  .App
    background-image: url('../imgs/wood-bg-large.png')
  footer
    height: 14vh
    justify-content: left
    div.hoc
      margin-right: 4vw
  .contactMe
    font-size: 1.4vw
    margin-right: 2vw
  .footerLogoNoAnimate
    margin-right: 4vw
    height: 8vh
    margin-left: 4vw
