@import './_colors.sass'

.btnContainer
    display: inline-block
    background-color: #707a2387
    text-align: center
    border-radius: 10px
    min-width: 14vw
    margin-bottom: 4px
    position: relative
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.75)

.icon
  text-align: center
  height: 3.8vh
  padding: 10px

.title
  color: white
  font-size: 3.6vw

.hoc
  display: inline-block
  text-align: center

@media #{$tablet}
  .btnContainer
    min-width: 8vw

@media #{$desktop}
  .btnContainer
    min-width: 4vw
