@import './queries.sass'

.faqRow
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding-left: 10vw
  padding-right: 10vw
  padding-top: 4vh
  padding-bottom: 4vh
  position: relative
  border: 1px solid #ffffff1a

  img
    &:first-of-type
      width: 14vw
    &:last-of-type
      width: 10vw
  span
    color: white
    margin-left: 5vw
    margin-right: 5vw
    font-size: 4vw
    font-weight: lighter

.up
  transform: rotateX(180deg)

@media #{$tablet}
  .faqRow
    img
      &:first-of-type
        width: 10vw
      &:last-of-type
        width: 6vw
    span
      font-size: 3.5vw
      font-weight: 300

@media #{$desktop}
  .faqRow
    span
      font-size: 2vw
      font-weight: 300
    img
      &:first-of-type
        width: 6vw
      &:last-of-type
        width: 4vw
