@import './_colors.sass'

.landingScreen
  height: 812px
  background-color: #000000d9

header
  text-align: center
  height: 7%
  margin-top: 46.5%
  animation: fade-in 3s

.headerName
  color: white
  display: block
  font-size: 18pt

.headerTitle
  color: white
  font-size: 14pt

.downChevronImg
  position: absolute
  bottom: 0
  width: 20vw
  margin-left: 40vw
  animation: slide-down 1.5s infinite ease-out

@keyframes slide-down
  0%
    bottom: 20px
  100%
    bottom: 0

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1
