@import './_colors.sass'

.landingScreen
  background-color: #000000d9
  height: 100vh

header
  text-align: center
  height: 7%
  margin-top: 46.5%
  animation: fade-in 3s

.headerName
  color: white
  display: block
  font-size: 18pt

.headerTitle
  color: white
  font-size: 14pt

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@media #{$tablet}
  header
    margin-top: 15%

@media #{$desktop}
  header
    margin-top: 10%
