.logoContainer
  width: 50vw
  padding-top: 10%


.ship1, .ship2, .ship3, .ship4,
  width: 30%
  position: absolute

.ship1
  transform: rotate(-90deg)
  left: 82px
  margin-top: 11%


.ship2
  transform: rotate(180deg)
  left: 35%
  margin-top: 22%

.ship3
  transform: rotate(90deg)
  right: 82px
  margin-top: 11%

.ship4
  left: 35%
