@import './colors.sass'

.popout
  background-image: radial-gradient(50% 48%, #192f00 -150%, white 780%)
.popoutContainer
  padding-left: 26px
  padding-right: 26px
  padding-top: 10px

.popoutHeading
  color: white
  font-size: 11pt

.btnsContainer
  position: absolute
  bottom: 20px
  width: 78vw
  left: 11vw
  .hoc
    &:nth-of-type(2)
      margin-left: 30px
      margin-right: 30px
