@import ./_colors.sass

.sliderContainer

.popout
  position: fixed
  bottom: 0
  background-color: $brandGreen
  transition: bottom 1s
  width: 70vw
  z-index: 2
  right: 0
  border-radius: 20px 20px 0px 0px
.hidden
  bottom: -80vh
.overlay
  height: 100vh
  width: 100vw
  background-color: #192F008f
  opacity: 1
  position: fixed
  top: 0
  left: 0
  transition: opacity .6s

.overlay.hidden
  opacity: 0
  left:  100vw
  transition: opacity .6s, left .6s ease-in .6s

@media #{$tablet}
  .popout
    width: 40vw

@media #{$desktop}
  .sliderContainer
    width: 65vw
    margin-left: 17.5vw
  .popout
    width: 20vw
